<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <title>Social Network</title>   
</head>  
<body>  
  <header>  
      <h1><a href="/">Social Network</a></h1>  
  </header>  
  
  <div id="main">  
    <%= yield %>  
  </div>  
  
  <footer>  
    <p><small>A Lightning Snakes Production</small></p>  
  </footer>  
</body>  
</html>  
