<section id="add">  
  <form action="/" method="post">  
    <textarea name="username" placeholder="Username"></textarea>  
    <textarea name="password" placeholder="Password"></textarea>  
    <input type="submit" value="Log in">  
  </form>  
</section> 

<section id="add">  
  <form action="/" method="post">  
    <textarea name="name" placeholder="Name"></textarea>  
    <textarea name="email" placeholder="Email"></textarea>  
    <textarea name="password" placeholder="Password"></textarea>  
    <input type="submit" value="Sign Up">  
  </form>  
</section> 
 
