<section id="add">  
  <form action="/" method="post">  
    <textarea name="content" placeholder="Username"></textarea>  
    <textarea name="content" placeholder="Password"></textarea>  
    <input type="submit" value="Log in">  
  </form>  
</section> 

<section id="add">  
  <form action="/" method="post">  
    <textarea name="content" placeholder="Name"></textarea>  
    <textarea name="content" placeholder="Email"></textarea>  
    <textarea name="content" placeholder="Password"></textarea>  
    <input type="submit" value="Sign Up">  
  </form>  
</section> 
 
