<h3> Search for homies </h3>
<form action="/find_people" method="post">
    <textarea name="name" placeholder="Search..."></textarea>
    <input type="submit" value="Post">
</form>

<% if @found_friends %>
  <% @found_friends.each do |friend| %>
    <div><%= friend.name %></div>
  <% end %>
<% end %>


<h2>Welcome to <%= @user.name %>'s News Feed.</h2>
<hr>
<center>Current Friend Requests</center>

<% Relationship.all.each do |relationship| %>
  <% if relationship.confirmed == false %> 
    <% @friend_id = relationship.followed_id %>
  <% end %>
<% end %>

<% User.all.each do |user| %>
  <% if user.id == @friend_id %>
  <%= user.name %>
  <% end %>
<%end%>
<form action="/confirm_friend" method="post">
    <textarea name="friend_name" placeholder="Name of friend to confirm?"></textarea>
    <input type="submit" value="Post">
</form>
<hr>
<center> Share a post! </center>

<form action="/create_post" method="post">
    <textarea name="content" placeholder="Write something here"></textarea>
    <input type="submit" value="Post">
</form>

<ul>
<% @user.posts.reverse.each do |post| %>

  <%= "#{post.content} #{post.created_at.to_date}" %>

<% end %>
</ul>

<center> Your Friend's Feeds! </center>

<%  User.where(:name => params[:friend_name]).each {|user| user.id }
+  friend_connection = Relationship.where(:followed_id => friend_id, :follower_id => session[:user])

<form action="/logout" method="post">
  <input type="submit" value="Logout">
</form>
