<section id="friend_request">  
  <form action="/friend_request" method="post">  
    <textarea name="friend_name" placeholder="Name of Friend"></textarea>  
    <input type="submit" value="Add a Friend!">  
  </form>  
</section> 

