<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>The O.G. Network</title>
<link href="/styles.css" rel="stylesheet">  </head>
<body>
  <header>

      <div id="og_header">The O.G.<br>Network</div>

  </header>

  <div id="main">
    <%= yield %>
  </div>

  <br class="clear">
  <footer>
    <form action="/logout" method="post">
      <input type="submit" value="Logout">
    </form>
    <p><small>The OG homies</small></p>
    <p><small>Daniel | Juke | Morgan | Raorao</small></p>
  </footer>
</body>
</html>
