body {
  background-color: #f7f7f7;
  min-height: 800px;
}

#main {
 text-align: center;
}

h1 {
 text-align: center;
 padding: 2em;
}

#og_header {
  text-align: center;
  background-color: #3B5998;
  color: white; 
  height: 2.5em;
  font-family: 'Source Sans Pro', 'lucida grande';
  font-size: 5em;
  float: top;
  border: solid;
  border-radius: 5px;
}


.clean {
  clear: both;
}

footer {
  text-align: center;
  margin-top: 25em;
  clear: both;
}

.sidebar {
  background-color: #cccccc;
  float:left;
  display:inline;
  width: 30%;
  border: solid;
  border-radius: 2.5px;
  font-family: 'tahoma'
}

.newsfeed {
  float: right;
  width: 60%; 
  display: inline;
}

.welcome {
  font-family: 'sans-serif';
}

